<!DOCTYPE html>
<html>
<head>
 <title>AnimeQuotes | Features</title>
    <link rel="stylesheet" type"text/css" href="../css/features.css"> 
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<%- include("components/scroll.ejs") %>
<%- include("components/headers.ejs") %>
<br>
<br>
 <section>
 <h1 id="title">Features</h1>
  <div class="content-container">
  			<div id="os2" class="product-row">
  				<div class="product-image"><img src="https://animequotes.tk/img/fts1.gif"></div>
  				<div class="product-text">
  					<h2 class="product-title">Slash Commands</h2>
  					<p class="glow">AnimeQuotes with slash built in commands.</p>
  				</div>
  			</div>
  			<div id="os2" class="product-row">
  				<div class="product-image"><img src="https://animequotes.tk/img/logo.jpg"></div>
  				<div class="product-text">
  					<h2 class="product-title">Slash Commands</h2>
  					<p>Set up commands, easy to use.</p>
  				</div>
  			</div>
  			<div id="os2" class="product-row">
  				<div class="product-image"><img src="https://animequotes.tk/img/logo.jpg"></div>
  				<div class="product-text">
  					<h2 class="product-title">Slash Commands</h2>
  					<p>More than 100 Quotes, every single day new quote added.</p>
  				</div>
  			</div>
      <div style="padding-top: 205px"></div>
  </div> 
 </section> 
</body>
<br>
<br>
<%- include("components/footer.ejs") %>
</html>