<!DOCTYPE html>
<html>
<head>
<!-- Redirect Link -->
 <meta http-equiv="refresh" content="3; URL=https://animequotes.gq" />
 <title>AnimeQuotes | Generator</title>
    <link rel="stylesheet" type"text/css" href="css/support.css"> 
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
</head>
</html>
<body>
 <p>You are now being redirect, If the redirect didn't work after 3 seconds please <a href="https://animequotes.gq">click here.<a/></p>
</body>