<!DOCTYPE html>
<html>
<head>
<!-- Redirect Link -->
 <meta http-equiv="refresh" content="3; URL=https://discord.com/oauth2/authorize?client_id=863419266664366090&scope=bot%20applications.commands&permissions=478208" />
 <title>AnimeQuotes | Invite</title>
    <link rel="stylesheet" type"text/css" href="css/support.css"> 
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
</head>
<body>
 <p>You are now being redirect, If the redirect didn't work after 3 seconds please <a href="https://discord.com/oauth2/authorize?client_id=863419266664366090&scope=bot%20applications.commands&permissions=478208">click here.<a/></p>
</body>
</html>
