<!DOCTYPE html>
<html>
<head>
    <title>AnimeQuotes | Policy</title>
    <link rel="stylesheet" type="text/css" href="css/pap.css">
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<%- include("components/loading.ejs") %>
    <br>
    <br>
    <br>
        <h1 id="title">Privacy and Policy</h1>
        <div class="text">
            <p>
                <u>Storing Personal Data</u><br>AnimeQuotes is not storing any data, we only have the data of where our bot joined.<br><br>
                <u>AnimeQuote Security</u><br>We ensure that you are using our bot safely and no worry. Only the owner have access to official bot.<br><br>
                <u>Your Consent</u><br>By using the bot, you consent to AnimeQuote privacy policy.<br><br>
                <u>Contacting Us</u><br>If there are any questions regarding this privacy policy you may contact us by clicking <a href="https://animequote.tk/contact">here.</a>
            </p>
        </div>
    <%- include("components/footer.ejs") %>
</body>
</html>