<!DOCTYPE html>
<html>
  <head>
  <title>AnimeQuotes | Team</title>
    <link rel="stylesheet" type"text/css" href="css/team.css"> 
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
   <body>
  <%- include("components/scroll.ejs") %>
  <%- include("components/loading.ejs") %>
  <%- include("components/headers.ejs") %>
   <br><br><br>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="avatars/sen.jpg"></div>
                    <div class="contentBx">
                        <h3>SadSenpai#5360<br><span>Owner / Web Designer</span></h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:1">
                        <a href="https://youtube.com/wilardzysenpai"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="https://discord.com/users/801334443281219584"><i class="fab fa-discord"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://github.com/wilardzysenpai"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="avatars/hen_tie.jpg"></div>
                    <div class="contentBx">
                        <h3>Takt#3032<br><span>Web Design Helper</span></h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:2">
                        <a href="https://discord.com/users/853408728475893770"><i class="fab fa-discord"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="avatars/kenshin.jpg"></div>
                    <div class="contentBx">
                        <h3>Rurouni Kenshin#3627<br><span>Bot Helper</span></h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:2">
                        <a href="https://discord.com/users/614702947179298821"><i class="fab fa-discord"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="avatars/akari.jpg"></div>
                    <div class="contentBx">
                        <h3>Akari#6421<br><span>Helper</span></h3>
                    </div>
                </div>

                <ul class="sci">
                    <li style="--i:2">
                        <a href="https://discord.com/users/552689104693886996"><i class="fab fa-discord"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="https://github.com/akarisekushi"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
   </body>
    <%- include("components/footer.ejs") %>
 </head>
</html>