<!DOCTYPE html>
<html>
  <head>
    <title>AnimeQuotes | View</title>
    <link rel="stylesheet" type"text/css" href="css/view.css">
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/813417387449516062/926062696481325106/AIAA.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script scr="script.js"></script>
  </head>
  <body>
  <a class="skip-nav-link" href="https://animequotes.tk/">
     Click me!
  </a>
    <!-- Disable right click  -->
    <body oncontextmenu="return false">
    <section>
     <img src="img/stars.png" id="stars">
     <img src="img/moon.png" id="moon">
     <img src="img/mountains_behind.png" id="mountains_behind">
     <img src="/img/mountains_front.png" id="mountains_front">
    </section>
  </body>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script scr="script.js"></script>
</html>
<!-- disable f12 -->
<script src="http://sibeeshpassion.com/content/scripts/jquery-1.11.1.min.js"></script>
<script>  
document.onkeypress = function (event) {  
event = (event || window.event);  
if (event.keyCode == 123) {  
return false;  
}  
}  
document.onmousedown = function (event) {  
event = (event || window.event);  
if (event.keyCode == 123) {  
return false;  
}  
}  
document.onkeydown = function (event) {  
event = (event || window.event);  
if (event.keyCode == 123) {  
return false;  
}  
}