@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background: #1C0522;
}
#main {
  width: calc(100% - 180px);
  height: auto;
  background-color: #2C2F33;
  margin: 30px auto;
  border: solid 4px #23272A;
  padding: 10px;
  color: black;
  text-align: left;
}
#title {
  text-align: center;
  padding-bottom: 80px;
  font-size: 60px;
  color: white;
  font-family: 'Poppins', serif;
  text-align: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1005;
}